h1{
    text-align: center;
}

div{
    margin: 100px auto;
    border: 3px solid;
}

div#large{
    background-color: red;
    width: 500px;
    height: 500px;
}

 div#middle{
    background-color:blue ;
    width: 300px;
    height: 300px;
} 

div#small{
    background-color: white;
    width: 100px;
    height: 100px;
}

td{
    /* border: 3px solid black; */
    width: 100px;
    height: 100px;
}

table{
    margin: auto;
}

.top{
    border-top: 3px solid black;
}

.bottom{
    border-bottom: 3px solid black;
}

.left{
    border-left: 3px solid black;
}

.right{
    border-right: 3px solid black;
}