h1{
    text-align: center;
}

ol{
    width: 500px;
    height: 500px;
    margin: 100px auto;
    border: 3px solid;
}

 ul{
    margin: 100px 90px;
    width: 300px;
    height: 300px;
    border: 3px solid;
    box-sizing: border-box;
} 

#two{
    margin: 100px 60px ;
    width: 100px;
    height: 100px;
    border: 3px solid;
    box-sizing: border-box;
}

